.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App__sty{
  display: flex;
  padding: 20px;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
}

.but {
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 40vw; */
}

.textfield1 {
  padding: 8px;
  margin-bottom: 20px;
  /* background-color: aqua; */
}